@keyframes moveActive {
  40% {
    padding-top: 25px;
  }
  100% {
    padding-top: 0;
  }
}

@keyframes moveContent {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
    top: 6rem
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes passContent {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.advantages {
  width: 100%;
  &-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    .advantages-description {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 50rem;
      background-color: #ffffff;

      .advantages-img {
        width: 50%;
        height: 100%;
        position: relative;

        .iSymplify {
          position: absolute;
          width: 65%;
          left: 2rem;
          top: 6rem;
        }
        .smeh1 {
          position: absolute;
          width: 30%;
          top: 9rem;
          left: 65%;
        }
        .path-big {
          position: absolute;
          width: 18%;
        }
        .path-midle {
          position: absolute;
          width: 10%;
          top: 32rem;
          left: 70%;
        }
        .path-small {
          position: absolute;
          width: 7%;
          top: 1rem;
          left: 45%;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 45%;
        height: 100%;
      }

      .content-headline {
        align-self: flex-end;
        margin-top: 8rem;
        padding-left: 3rem;
        font-family: 'Releway', sans-serif;
        font-size: 4rem;
        font-weight: 900;
        line-height: 5.5rem;
        text-align: left;
        color: #ffffff;
        width: 36rem;
        height: 5.5rem;
        background-image: linear-gradient(to right, #ff7200, #d8268d);
      }

      .content-tagline {
        margin: 3.5rem 0;
        font-family: 'Releway', sans-serif;
        font-size: 3.5rem;
        font-weight: 900;
        color: #07002c;
      }

      .content-nav {
        &-table {
          width: 90%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          &-item {
            font-family: 'Releway', sans-serif;
            font-size: 2rem;
            font-weight: 900;
            line-height: 1.35;
            text-align: left;
            color: #7a7a7a;
            width: min-content;
            padding: 0 1.5rem;
            cursor: pointer;
          }
          .active {
            color: #ffffff;
            background-image: linear-gradient(to right, #09a2de, #d8268d);
            overflow: hidden;
            padding-top: 30px;
            max-height: 5.3rem;
            box-sizing: border-box;
            animation: moveActive 0.5s 1 linear forwards;
          }
        }
        &-info {
          position: relative;
          margin: 3.7rem 0;
          overflow: hidden;
          width: 95%;
          height: 14rem;
          &__elem {
            position: absolute;
            top: 6rem;
            opacity: 0;
            font-family: 'Releway', sans-serif;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.5;
            text-align: left;
            color: #07002c;
            animation: passContent 0.2s 1 linear forwards;
          }

          .active-content {
            animation: moveContent 0.5s 1 linear forwards;
          }
        }
      }
    }
    .projects {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      &-headline {
        position: relative;
        font-family: 'Releway', sans-serif;
        font-size: 4rem;
        font-weight: 900;
        text-align: center;
        color: #07002c;
        margin-bottom: 3rem;
        display: inline-flex;
        justify-content: center;
      }
      &-headline::after {
        position: absolute;
        content: "";
        width: 186px;
        height: 4px;
        top: 5rem;
        background-image: linear-gradient(to right, #00b3f9, #f900a9);

      }
      .advantages-slider {
        max-height: 30rem;
      }
      .partners-icon {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        width: 90%;
        margin: 0 auto;

        .color-icon {
          filter: grayscale(1);
          height: 6rem;
          width: 27rem;
          margin: 2rem 3rem;
          text-align: center;
          transition: 0.3s filter ease;
          cursor: pointer;

          &:hover {
            filter: grayscale(0);
          }

          img {
            height: 100%;
          }

        }
      }

    }

  }
}

