@keyframes moveActive {
  40% {
    padding-top: 25px;
  }
  100% {
    padding-top: 0;
  }
}

@keyframes moveContent {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
    top: 6rem
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes passContent {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.advantages {
  width: 100%;
  &-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    .advantages-description {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff;
      margin-bottom: 5rem;

      .advantages-img {
        width: 50%;
        height: 100%;
        position: relative;

      }

      &-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
        height: 100%;
      }

      .content-headline {
        align-self: flex-end;
        margin-top: 8rem;
        padding-left: 3rem;
        font-family: 'Releway', sans-serif;
        font-size: 4rem;
        font-weight: 900;
        line-height: 5.5rem;
        text-align: left;
        color: #ffffff;
        width: 36rem;
        height: 5.5rem;
        background-image: linear-gradient(to right, #ff7200, #d8268d);
      }

      .content-tagline {
        margin: 3.5rem 0;
        font-family: 'Releway', sans-serif;
        font-size: 3.5rem;
        font-weight: 900;
        color: #07002c;
      }

      .content-nav {
        &-table {
          position: relative;
          width: 90%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .bgActiv {
            position: absolute;
            content: "";
            width: 18.6rem;
            height: 5.3rem;
            background-image: linear-gradient(to right, #09a2de, #d8268d);
            border-radius: 0.1rem;
          }

          &-item {
            z-index: 1;
            font-family: 'Releway', sans-serif;
            font-size: 2rem;
            font-weight: 900;
            line-height: 1.35;
            text-align: left;
            color: #7a7a7a;
            width: min-content;
            max-height: 5.3rem;
            padding: 0 1.5rem;
            cursor: pointer;
          }
          .active {
            padding-top: 30px;
            max-height: 5.3rem;
            color: #ffffff;
            overflow: hidden;
            box-sizing: border-box;
            animation: moveActive 0.5s 1 linear forwards;
          }
        }
        &-info {
          position: relative;
          margin: 3.7rem 0;
          overflow: hidden;
          width: 95%;
          height: 14rem;
          &__elem {
            position: absolute;
            top: 6rem;
            opacity: 0;
            font-family: 'Releway', sans-serif;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.5;
            text-align: left;
            color: #07002c;
            border-radius: 0.2rem;
            animation: passContent 0.2s 1 linear forwards;
          }

          .active-content {
            animation: moveContent 0.5s 1 linear forwards;
          }
        }
      }
    }
    .projects {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      margin-bottom: 5rem;
      &-headline {
        position: relative;
        font-family: 'Releway', sans-serif;
        font-size: 4rem;
        font-weight: 900;
        text-align: center;
        color: #07002c;
        margin-bottom: 6rem;
        &::after {
          position: absolute;
          content: "";
          width: 186px;
          height: 4px;
          top: 5rem;
          left: 50%;
          transform: translateX(-50%);
          background-image: linear-gradient(to right, #00b3f9, #f900a9);

        }
      }
      .advantages-slider {
        max-height: 30rem;
      }

      .partners-icon {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        width: 90%;
        margin: 0 auto;

        .color-icon {
          filter: grayscale(1);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 33.333%;
          height: 15rem;
          text-align: center;
          transition: 0.3s filter ease;
          cursor: pointer;

          &:hover {
            filter: grayscale(0);
          }

          img {
            width: 50%;
          }

        }
      }

    }

  }
}
.advantages__hex {
  width: 45%;
  height: auto;
}

.advantages-hexagon {
  position: absolute;
  object-fit: cover;
  clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
  
  &__is-symplify {
    right: 30%;
    top: 8rem;
    transform: rotate(30deg);

    &-img {
      width: 45rem;
      height: 45rem;
      background-image: url("../img/advantages/iSymplify-team_technology.png");
      background-position: -7rem 2rem;
      transform: rotate(-30deg);
    }
  }
  &__smeh-1 {
    top: 9rem;
    right: 5%;
    transform: rotate(30deg);

    &-img {
      width: 20rem;
      height: 20rem;
      background: url("../img/advantages/smeh1.png") -17rem -3rem;
      transform: rotate(-30deg);
    }
  }
  &__small {
    top: 40rem;
    right: 20%;;
    width: 6.5rem;
    height: 6.5rem;
    @include gradOrangePurple(to top);
    transform: rotate(-198deg);
  }
  &__middle {
    width: 8.5rem;
    height: 8.5rem;
    top: 1rem;
    right: 45%;
    @include gradOrangePurple(to right);
    transform: rotate(75deg);
  }
  &__big {
    width: 13rem;
    height: 13rem;
    right: 80%;
    @include gradBluViolet(-280deg);
    transform: rotate(75deg);
  }
}

.solod-logo {
  filter: invert(1);
}

