.contacts {
  border: 0.1rem solid black;
  font-family: Raleway, sans-serif;

  .contacts__location {
    display: flex;

    .contacts__location__address {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
    }

    .contacts__location__address__paragraph {
      text-align: right;
      font-weight: bold;
      line-height: 2.5rem;
      font-size: 1.9rem;
      width: 27rem;
    }

      .contacts__location__address__headline {
        font-size: 2.9rem;
        padding-bottom: 0.6rem;
        font-weight: bold;
        text-align: right;
      }

      .contacts__location__address__gradient {
        width: 11.8rem;
        display: inline-block;
        align-self: flex-end;
        height: 0.4rem;
        margin-bottom: 2.2rem;
        background-image: linear-gradient(to right, $lightBlue, $darkViolet, $darkPink);
      }

      .contacts__location__address__paragraph-coloring {
        color: #0ba5d4;
      }

    .contacts__location__map{
      width: 50%;
      display: flex;
      align-items: center;
      padding-left: 5rem;

      .contacts__location__map__shape{
        width: 45rem;
        height: 35rem;
        border: 0.2rem solid black;
      }
    }
  }

  .contacts__navigation {
    height: 11.7rem;
    background-color: #4c4184;

    .contacts__navigation__cover{
      height: 11.7rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

    .contacts__navigation__cover__menu {
      width: 42rem;
      text-transform: uppercase;
      list-style: none;
      display: flex;
      justify-content: space-between;

      .contacts__navigation__cover__menu__item {
        font-size: 1.8rem;
        color: #ffffff;
      }
    }

      .contacts__navigation__cover__copyright{
        align-self: flex-end;
        font-size: 1.2rem;
        padding-bottom: 3.1rem;
        padding-right: 35rem;
        font-weight: 300;
        color: #9582f6;
      }

      .contacts__navigation__cover__social{
        display: flex;

        .contacts__navigation__cover__social__inst{
          padding-left: 19px;
        }
      }

    }
  }
}