.header {
  overflow-x: hidden;
}

.top-menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 1rem 0;
  z-index: 10000;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .nav-mobile{
      display: none;
    }
  }

  .top-menu__details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5%;
  }

  &__logo-item {
    width: 20rem;
  }

  #background {
    position:fixed;
    z-index:998;
    width: 100%;
    background-color:#0e0055;
    opacity: 0.5;
  }

  .nav-mobile{
    cursor: pointer;
    width: 4.31rem;
    display: none;
    align-items: center;
    justify-content: center;
  }

  &__nav-menu {
    display: flex;
    justify-content: space-between;
    width: 46.7rem;

    &__item {

      &_link{
        color: #07002c;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 2rem;
        font-family: 'Releway', sans-serif;
        transition: all 0.3s ease;

        &:hover {
          color: #4c4184;
          font-weight: 900;
          font-size: 1.98rem;
          background: linear-gradient(to left, $deepOrange, $purple) left bottom no-repeat;
          background-size:100% 5px;
        }
      }

    }
  }

  &__phone {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #007ca2;
  }
  &__phone_img {
    width: 30px;
    display: none;
  }

  &__languages-item {
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 2rem;
    background-color: transparent;
    color: #08012c;
  }
}

.header-main {
  display: flex;
  position: relative;
  margin-top: 5%;
  align-items: center;

  &__info {
    width: 50%;
    margin-top: 11rem;
    display: flex;
    flex-direction: column;

    &__title {
      padding-left: 5rem;
      @include gradOrangePurple(to right);
      font-size: 7.6rem;
      font-weight: 900;
      font-style: normal;
      font-family: 'Releway', sans-serif;
      font-stretch: normal;
      line-height: 1.5;
      color: #ffffff;
    }

    &__subtitle {
      margin-top: 5rem;
      font-size: 2.4rem;
      font-weight: 700;
      font-family: 'Releway', sans-serif;
      line-height: 1.5;
      color: #090036;
    }

    &__more-btn {
      align-self: flex-start;
      text-transform: uppercase;
      text-decoration: none;
      //margin: 5rem 8.6rem;
      margin: 10% 12%;
      padding: 2.7rem 4rem;
      @include gradBluViolet(to right);
      color: #ffffff;
      font-size: 18px;
      font-weight: 900;
      font-family: 'Releway', sans-serif;
      border-radius: 4.4rem;
      cursor: pointer;

      border: double 5px transparent;
      background-image: linear-gradient(to right, rgba(57, 170, 214, 1), rgba(124, 85, 187, 1), rgba(205, 76, 159, 1)), radial-gradient(circle at top left, rgba(57, 170, 214, .5), rgba(124, 85, 187, .5), rgba(205, 76, 159, .5));
      background-origin: border-box;
      background-clip: padding-box, border-box;
    }

  }
}

.header-advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14.8rem;
  font-family: 'Releway', sans-serif;

  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__item {
        height: 11.6rem;
        transition: all .2s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }

      }

      &__description {
        width: 15rem;
        height: 4.8rem;
        font-size: 1.8rem;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #090036;
      }
    }
  }

  &__subtitle {
    margin-top: 6.8rem;
    font-size: 2.8rem;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: #07002c;

    &_selected-text {
      display: inline-block;
      @include gradBluViolet(to right);
      color: #ffffff;
      padding: 0 1rem;
    }
  }
}

.animate__bigger-hex {
  opacity: 0;
}
.animate__gradients {
  opacity: 0;
}
.animate__bottom-gradients {
  opacity: 0;
}

