/*header*/

.top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.8rem;
  margin: 0 9.2rem;

  &__wrapper {
    display: flex;

  }

  &__logo-item {
    height: 7.3rem;
    width: 25rem;
  }

  &__nav-menu {
    display: flex;
    justify-content: space-around;
    width: 46.7rem;
    //margin-left: 10rem;

    &__item {
      color: #07002c;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 2rem;
    }
  }

  &__phone {
    width: 19rem;
    height: 2.4rem;
    font-size: 2.3rem;
    font-weight: bold;
    color: #007ca2;
    margin-left: 3.7rem;
  }

  &__languages-item {
    border: none;
    font-weight: 700;
    font-size: 2rem;
    color: #08012c;
    margin-left: 3.7rem;
  }
}

.header-main {
  display: flex;

  &__img {
    width: 50%;

    &__hexagon {
      &_clip-each {
        display: block;
        position: relative;
        -webkit-clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
        clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
        transform: rotateZ(-8deg);
      }

      &_clip-each {
        width: 50rem;
        height: 50rem;
        background-image: url("../img/header/alesia-kazantceva-283291-unsplash@2x.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
    }
  }

  &__info {
    width: 50%;
    margin-top: 11rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__title {
      padding-left: 5rem;
      @include gradOrangePurple(to right);
      width: 80rem;
      height: 12rem;
      font-size: 7.6rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      vertical-align: middle;
      color: #ffffff;
    }

    &__subtitle {
      margin-top: 5rem;
      width: 55.3rem;
      height: 13.2rem;
      font-size: 2.4rem;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.58;
      letter-spacing: 0.03rem;
      text-align: left;
      color: #090036;
    }

    &__more-btn {
      align-self: flex-start;
      text-transform: uppercase;
      text-decoration: none;
      margin: 5rem 8.6rem;
      padding: 2.7rem 4rem;
      @include gradBluViolet(to right);
      color: #ffffff;
      font-size: 18px;
      border-radius: 4.4rem;
      cursor: pointer;

      border: double 8px transparent;
      background-image:linear-gradient(to right, rgba(57,170,214,.5), rgba(124,85,187,.5), rgba(205,76,159,.5)), radial-gradient(circle at top left, rgba(57,170,214,.5), rgba(124,85,187,.5), rgba(205,76,159,.5));
      background-origin: border-box;
      background-clip: padding-box, border-box;
    }

  }
}

