.order{
  box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.27);
  font-family: 'Releway',sans-serif;
  overflow-x: hidden;
}

.container-info-form-wrapper{
  font-weight: 900;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.order__info{
  //position: relative;
  width: 50%;
  //height: 25.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  &__headline{
    width: 80%;
    color: black;
    font-size: 3.5rem;


    &__modifier{
      @include gradBluViolet(to right);
      color: #ffffff;
      padding: 0 1rem;
    }
  }

  &__text{
    width: 40%;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #4c4184;
  }

  &__slogan{
    width: 97%;
    position: relative;
    padding: 1.5rem 3rem;
    font-size: 5.7rem;
    color: #ffffff;
    @include gradOrangePurple(to right);
  }
}

.order__form-wrapper{
  width: 44%;

  &__succes {
    color: black;
    font-size: 5rem;
  }

  &__form{
    width: 41rem;
    height: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__order-btn{
      width: 22.5rem;
      margin: 1rem 0;
      padding: 1.6rem 1rem;
      color: #ffffff;
      font-family: inherit;
      font-weight: 900;
      font-size: 18px;
      border-radius: 3rem;
      border: solid 5px transparent;
      background-image:linear-gradient(to right, rgba(57,170,214,1), rgba(124,85,187,1), rgba(205,76,159,1)), radial-gradient(circle at top left, rgba(57,170,214,.5), rgba(124,85,187,.5), rgba(205,76,159,.5));
      background-origin: border-box;
      background-clip: padding-box, border-box;
      cursor: pointer;
      outline: none;
    }
  }
}

.inputs-stylization{
  height: 5.1rem;
  padding-left: 2rem;
  margin-bottom: 0.93rem;
  border: 1px solid #7a7a7a;
  border-radius:0.7rem;
  outline: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.7rem;
}


.error{
  font-size: 1.7rem;
  color: red;
}
