.team {
  overflow-x: hidden;
}

.team-description-test-team-title {
  font-family: Ralaway, sans-serif;
  display: inline;
  font-size: 3rem;
  //background-image: linear-gradient(to right, #ff7200, #d8268d);
  @include gradOrangePurple(to right);
  color: white;
  padding: 0.5rem 2rem 0.5rem 22rem;
}

.services-title {
  font-family: Ralaway, sans-serif;
  color: black;
  font-size: 4rem;
  text-align: center;
}

.services-title:after {
  content: "";
  position: absolute;
  top: 50.7rem;
  //right: 15rem;
  left: 63rem;
  width: 18rem;
  height: 0.5rem;
  @include gradBluViolet(to right);
}

.services-items-row-1, .services-items-row-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin: 5rem auto;
  width: 60rem;
}

.services-item > p {
  font-size: 2rem;
  color: black;
}

.services-item-logo {
  width: 6rem;
  height: 6rem;
}

.team-description {
  margin-bottom: 6rem;
  //margin-left: 25rem;
  p {
    margin-left: 22rem;
  }
}

.team-description-title {
  font-size: 3.5rem;
  font-family: Ralaway, sans-serif;
  color: #07002c;
  width: 60rem;
  margin-bottom: 3rem;
  margin-top: 5rem;
}

.team-description-subtitle {
  font-family: Ralaway, sans-serif;
  font-size: 2rem;
  width: 65rem;
  color: #07002c;
  margin-bottom: 3rem;
}

.team-description-bonus {
  font-family: Ralaway, sans-serif;
  font-size: 2rem;
  color: black;
  width: 65rem;

  .team-description-bonus-highlight {
    @include gradBluViolet(to left);
    padding: 0.3rem;
    color: #fff;
    font-weight: 100;
  }
}

.team-description-images {
  position: relative;
}

.team-description-photo-sharon,
.team-description-photo-olga {
  width: 22rem;
  height: 20rem;
}

.team-description-photo-sharon {
  position: absolute;
  right: 27rem;
  bottom: 15rem;
}

.team-description-photo-eddie {
  width: 32rem;
  height: 30rem;
  position: absolute;
  right: -3rem;
  bottom: 1rem;
}

.team-description-photo-olga {
  position: absolute;
  right: 25rem;
  bottom: -7rem;
}

//.cubic-1 {
//  width: 4rem;
//  height: 4rem;
//  opacity: 0.97;
//  background-image: linear-gradient(88deg, #df139d, #0ba5d4);
//}

//.cubic-2 {
//  width: 5rem;
//  height: 5rem;
//  opacity: 0.97;
//  background-image: linear-gradient(to right, #f17100, #c82d8e)
//}

//.d16 {
//  margin: 20px 0;
//  width: 95.6px;
//  height: 96.8px;
//  opacity: 0.97;
//  background-image: linear-gradient(to right, #f17100, #c82d8e);
//  position: relative;
//}
//
//.d16:before,
//.d16:after {
//  content: "";
//  position: absolute;
//  left: 0;
//  border-left: 50px solid transparent;
//  border-right: 50px solid transparent;
//}
//
//.d16:before {
//  top: -25px;
//  border-bottom: 25px solid #ffffff;
//}
//
//.d16:after {
//  bottom: -25px;
//  border-top: 25px solid #ffffff;
//}