.team-description-test-team-title {
  display: inline;
  font-family: Ralaway, sans-serif;
  font-size: 3rem;
  background-color: #7c55bb;
  color: white;
  font-weight: 600;
  //padding-left: 8rem;
  padding: 0.3rem 0.3rem 0.3rem 8rem;
}

.services-title {
  font-family: Ralaway, sans-serif;
  color: black;
  font-size: 4rem;
  text-align: center;
}

//.services-title::after {
//  //position: relative;
//  top: 16rem;
//  //right: 60rem;
//  right: 63.1rem;
//  content: "";
//  //display: inline-block;
//  //display: block;
//  width: 18rem;
//  position: absolute;
//  height: 0.4rem;
//  //background-image: linear-gradient(to right, #00b3f9, #f900a9);
//  //background-color: $darkPink, $darkViolet, $deepOrange, $lightBlue, $purple;
//  background-color: red;
//  //@include gradBluViolet($direction, $lightBlue, $darkViolet, $darkPink);
//  //@include gradBluViolet : (to right, #00b3f9, #f900a9)
//}

.services-items-row-1, .services-items-row-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin: 3rem auto;
  width: 60rem;
  //margin: 1rem;
}

.services-item {
  //margin: 5rem;
}

.services-item > p {
  font-size: 2rem;
  color: black;
}

.services-item-logo {
  width: 5rem;
  height: 5rem;
  //color: #7c55bb;
  //color: red;
  //fill: red;
  fill: #fe7102;
  //background: url("/src/img/complex.svg");
}

.team-description {
  margin-bottom: 6rem;
  //margin-left: 25rem;
  p {
    margin-left: 25rem;
  }
}


.team-description-title {
  font-size: 3.5rem;
  font-family: Ralaway, sans-serif;
  color: #07002c;
  width: 60rem;
  margin-bottom: 3rem;
  margin-top: 5rem;
}

.team-description-subtitle {
  font-size: 2rem;
  width: 70rem;
  font-family: Ralaway, sans-serif;
  color: #07002c;
  margin-bottom: 3rem;
}

.team-description-bonus {
  font-family: Ralaway, sans-serif;
  font-size: 2rem;
  //box-sizing: border-box;
  color: black;
  width: 70rem;

  .team-description-bonus-highlight {
    background-color: #7c55bb;
    padding: 0.2rem;
    color: #fe7102;
  }
}