.team {
  padding-top: 15rem;
  overflow-x: hidden;

  &__hex {
    align-self: center;
  }

  &-img__bigger {
    opacity: 0;
    transform-origin: center;
    //animation: teamBiggerMove 1.5s ease alternate;
  }
  &-img__smaller {
    opacity: 0;
    transform-origin: center;
    //animation: teamSmallerMove 1.7s ease alternate;
  }
  &-img__gradients {
    opacity: 0;
    transform-origin: center;
    //animation: teamGradientsMove 1.9s ease alternate;
  }
}

.bold-text {
  font-weight: 700;
}

.team-description {
  position: relative;
  display: flex;
  justify-content: space-between;

  &-top-main-title {
    font-family: Releway, sans-serif;
    display: inline;
    font-size: 4rem;
    font-weight: 900;
    color: white;
    align-self: flex-start;
    margin-left: 9%;

    &::before {
      content: '';
      position: absolute;
      top: -0.8rem;
      left: 0;
      @include gradOrangePurple(to right);
      padding: 3rem 13rem;
      z-index: -1;
    }
  }

  &-title {
    width: 90%;
    font-size: 3.5rem;
    font-weight: 900;
    font-family: Releway, sans-serif;
    line-height: 1.35;
    color: #07002c;
    margin: 4rem 0;
  }

  &-content {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &-subtitle {
    font-family: Releway, sans-serif;
    line-height: 1.35;
    font-size: 2rem;
    width: 90%;
    color: #07002c;
    margin-bottom: 3rem;
  }

  &-bonus {
    font-family: Releway, sans-serif;
    line-height: 1.35;
    font-size: 2rem;
    color: black;
    width: 90%;

    &-highlight {
      @include gradBluViolet(to left);
      color: #fff;
      font-weight: 100;
      line-height: 1.35;
      padding: 0.3rem;
    }
  }

  &-images {
    flex-basis: 50%;
    position: relative;
    top: 1rem;
    right: -2rem;
  }
}

.services-title-text {
  position: relative;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  color: black;
  margin-bottom: 6rem;

  &:after {
    content: '';
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 18rem;
    height: 0.5rem;
    @include gradBluViolet(to right);
  }
}


.services-items {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  align-content: center;
  margin: 0 auto;
}

.services-item {
  width: 27rem;
  margin: 3rem;
}

.services-item-text {
  font-family: Releway, sans-serif;
  font-size: 2rem;
  color: black;
  line-height: 1.35;
}

.services-item-logo {
  width: 6rem;
  height: 6rem;
}
