@media screen and (max-width: 1418px) {
  .top-menu {
    &__nav-menu {
      width: 44.7rem;

      &__item {

        &_link {
          font-size: 1.8rem;

          &:hover {
            font-size: 1.78rem;
          }
        }
      }

    }
  }
  &__phone {
    font-size: 2.1rem;
  }
  &__languages-item {
    font-size: 1.8rem;
  }
  .header-main {
    &__info {
      &__title {
        font-size: 6.5rem;
      }

      &__subtitle {
        font-size: 2.2rem;
      }
    }

    &__img {
      position: relative;
      flex-basis: 50%;

      &__hexagon {
        &_clip-solid {
          width: 60rem;
          height: 60rem;
        }
      }
    }
  }
  .header-advantages {
    margin-top: 4rem;

    &__icons {
      &-wrapper {
        &__item {
          height: 10.6rem;
        }

        &__description {
          font-size: 1.6rem;
        }
      }
    }

    &__subtitle {
      font-size: 2.5rem;
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
}

@media screen and (max-width: 1169px) {
  .top-menu {
    &__nav-menu {
      width: 40.7rem;

      &__item {
        &_link {
          font-size: 1.6rem;

          &:hover {
            font-size: 1.58rem;
          }
        }
      }
    }


    &__phone {
      font-size: 1.7rem;
    }

    &__languages-item {
      font-size: 1.6rem;
    }
  }
  .header-main {
    &__info {
      &__title {
        font-size: 5.5rem;
      }

      &__subtitle {
        font-size: 1.8rem;
      }
    }

    &__img {
      position: relative;
      flex-basis: 50%;

      &__hexagon {
        &_clip-solid {
          width: 47rem;
          height: 47rem;
        }

        &_top-left {
          width: 9rem;
          height: 9rem;
          z-index: -2;
        }

        &_top-right {
          z-index: -2;
        }
      }
    }
  }
  .header-advantages {
    &__icons {
      &-wrapper {
        flex-basis: 33%;
      }
    }

    &__subtitle {
      font-size: 2.2rem;
    }
  }
}

@media screen and (max-width: 960px) {
  .top-menu {
    &__nav-menu {
      width: 38.7rem;

      &__item {
        &_link {
          font-size: 1.4rem;

          &:hover {
            font-size: 1.38rem;
          }
        }
      }
    }


    &__phone {
      font-size: 1.2rem;
    }

    &__languages-item {
      font-size: 1.4rem;
    }
  }
  .header-main {

    &__svg-hex {
      width: 60%;
    }

    &__info {
      width: 40%;

      &__title {
        font-size: 3.3rem;
      }

      &__subtitle {
        font-size: 1.6rem;
      }
    }

    &__img {
      position: relative;
      flex-basis: 50%;

      &__hexagon {
        &_clip-solid {
          width: 35rem;
          height: 35rem;
        }

        &_top-left {
          width: 9rem;
          height: 9rem;
          z-index: -2;
        }

        &_top-right {
          z-index: -2;
        }

        &_bottom-left {
          bottom: 20%;
          left: 0;
        }

        &_bottom {
          bottom: 5%;
          left: 20%;
        }

        &_bottom-deep-right {
          bottom: -10%;
          right: -110%;
        }
      }
    }
  }
  .header-advantages {
    &__subtitle {
      font-size: 1.9rem;
    }
  }
}

@media screen and (max-width: 780px) {
  .top-menu {
    .top-menu__details {
      width: 20%;
      justify-content: space-around;
    }
    &__nav-menu {
      display: flex;
      width: 36.7rem;

      &__item {
        &_link {
          font-size: 1.2rem;

          &:hover {
            font-size: 1.18rem;
          }
        }
      }
    }

    &__phone {
      display: none;
    }

    &__phone_img {
      display: inline-block;
    }

    &__languages-item {
      font-size: 1.2rem;
    }
  }
  .header-main {
    &__info {
      &__title {
        font-size: 2.6rem;
      }
    }

    &__img {
      position: relative;
      flex-basis: 50%;

      &__hexagon {

        &_clip-solid {
          width: 30rem;
          height: 30rem;
        }

        &_top-left {
          width: 8rem;
          height: 8rem;
          z-index: -2;
        }

        &_top-right {
          z-index: -2;
        }

        &_bottom-left {
          bottom: 20%;
          left: 0;
        }

        &_bottom {
          bottom: 5%;
          left: 20%;
        }

        &_bottom-deep-right {
          bottom: -10%;
          right: -110%;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {

  .top-menu {
    margin: 0;

    &__details {
      display: flex;
    }

    &__logo-item {
      width: 15rem;
    }

    .top-menu__details {
      justify-content: space-between;
    }

    .nav-mobile {
      display: block;
      justify-self: initial;
    }

    &__nav-menu {
      display: none;
      position: fixed;
      box-sizing: border-box;
      background: #ffffff;
      padding-top: 15%;
      padding-left: 2rem;
      padding-right: 2rem;
      height: 100vh;
      width: 45%;
      right: 0;
      top: 0;
      z-index: 999;


      &__item {
        line-height: 5.5vw;
        margin-top: 2vw;
        border-bottom: 1px solid #b4b4b4;

        &:hover {
          font-weight: 900;
          border-bottom: 3px solid;
          border-image: linear-gradient(to left, $deepOrange, $purple) 100% 0;
          margin-bottom: -0.2rem;
        }

        &:hover .top-menu__nav-menu__item_link {
          color: #4c4184;
          transition: all 0.2s;
        }

        &_link {
          width: 20px;
          height: 2px;
          background-color: #fff;
          font-size: 4vw;
          padding-left: 4vw;
          opacity: 1;
          top: 0;
          left: 0;
          transition: all .4s linear;
          transform-origin: -2.5px 1px;

          &:hover {
            font-size: 4vw;
            background: initial;
            background-size: initial;
          }
        }
      }
    }


    &__phone {
      display: none;
    }

    &__languages-item {
      display: none;
    }
  }
  .header-main {

    &__svg-hex{
      width: 100%;

      .right-top-hex{
        transform: translate(12%, -5%) rotate(15deg);
      }
      .left-bottom-hex{
        transform: translate(35%, 5%) rotate(15deg);
      }
      .right-bottom-hex{
        transform: translate(58%, -17%) rotate(15deg);
        fill: url(#blueviolet);
      }
      .left-top-hex{
        transform: translate(-1%, -3%) scale(0.7) rotate(15deg);
      }
      .hidden-bottom-hex{
        display: none;
      }
    }

    .animate__bigger-hex{
      transform: scale(2.3) translate(-8%, -5%);
      y: 50px;
    }

    &__info {
      margin-top: 25vw;
      width: 100%;
      position: absolute;
      justify-content: center;
      align-items: center;

      &__more-btn {
        margin-top: 5vw;
        padding: 1.7rem 2rem;
        font-size: 3vw;
        align-self: inherit;
      }

      &__title {
        font-size: 10vw;
        width: 100%;
        text-align: center;
        padding-left: initial;
      }

      &__subtitle {
        margin-top: 5vw;
        font-size: 3vw;
        background: #ffffff;
        width: 80%;
        text-align: center;
      }
    }

    &__img {
      position: relative;
      z-index: -1;

      &__hexagon {

        &_clip-solid {
          width: 100vw;
          height: 100vw;
        }

        &_top-left {
          width: 9rem;
          height: 9rem;
          top: 5%;
          left: 7%;
          z-index: -2;
        }

        &_top-right {
          z-index: -2;
        }

        &_bottom {
          display: none;
        }
      }
    }
  }
  .header-advantages {
    &__icons {
      &-wrapper {
        &__item {
          height: 8rem;
        }
        &__description {
          font-size: 1.4rem;
        }
      }
    }

    &__subtitle {
      font-size: 1.6rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .top-menu {

    .top-menu__details {
      width: 22%;
    }
  }
}

@media screen and (max-width: 500px) {
  .top-menu {

    .top-menu__details {
      width: 25%;
    }
  }
}

@media screen and (max-width: 450px) {
  .top-menu {

    .top-menu__details {
      width: 27%;
    }
  }
  .header-main {
    margin-top: 15%;
  }
}

@media screen and (max-width: 400px) {
  .top-menu {

    .top-menu__details {
      width: 30%;
    }
  }
}

@media screen and (max-width: 320px) {
  .top-menu {

    .top-menu__details {
      width: 35%;
    }
  }
}