@media screen and (max-width: 1418px) {
  .top-menu {

    &__wrapper {

    }

    &__logo-item {

    }

    &__nav-menu {
      width: 44.7rem;

      &__item {

        &_link {
          font-size: 1.8rem;
          &:hover {
            font-size: 1.78rem;
          }
        }
      }

    }
  }


  &__phone {
    font-size: 2.1rem;
  }

  &__languages-item {
    font-size: 1.8rem;
  }

  .header-main {
    &__info {
      &__title {
        font-size: 7rem;
      }
    }
  }

}

@media screen and (max-width: 1169px) {
  .top-menu {

    &__wrapper {

    }

    &__logo-item {

    }

    &__nav-menu {
      width: 40.7rem;

      &__item {
        &_link {
          font-size: 1.6rem;
          &:hover {
            font-size: 1.58rem;
          }
        }
      }
    }


    &__phone {
      font-size: 1.7rem;
    }

    &__languages-item {
      font-size: 1.6rem;
    }
  }
  .header-main {
    &__info {
      &__title {
        font-size: 6.7rem;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .top-menu {

    &__wrapper {

    }

    &__logo-item {

    }

    &__nav-menu {
      width: 38.7rem;

      &__item {
        &_link {
          font-size: 1.4rem;
          &:hover {
            font-size: 1.38rem;
          }
        }
      }
    }


    &__phone {
      font-size: 1.5rem;
      //display: none;
    }

    &__languages-item {
      font-size: 1.4rem;
    }
  }
  .header-main {

    &__info {
      &__title {
        font-size: 6.4rem;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .top-menu {

    &__wrapper {

    }

    &__logo-item {

    }

    &__nav-menu {
      width: 36.7rem;

      &__item {
        &_link {
          font-size: 1.2rem;
          &:hover {
            font-size: 1.18rem;
          }
        }
      }
    }


    &__phone {
      //font-size: 1.5rem;
      display: none;
    }

    &__phone_img {
      display: inline-block;
    }

    &__languages-item {
      font-size: 1.2rem;
    }
  }
  .header-main {
    &__info {
      &__title {
        font-size: 6.2rem;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .top-menu {
    margin:0;
    height: 17rem;
    &__wrapper {
      align-items: center;
      &__logo-item{

      }
    }

    .nav-mobile {
      display: block;
      justify-self: flex-end;
    }

    &__logo-item {
      background-image: url("../img/header/trigger_logo_mobile.jpg");
      height: 18rem;
      width: 19rem;
    }

    &__nav-menu {
      display: none;
      box-sizing: border-box;
      position: absolute;
      right: -200px;
      top: 110px;

      &__item {

        margin-bottom: 5px;
        &_link {
          width: 20px;
          height: 2px;
          background-color: #fff;
          opacity: 1;
          top: 0;
          left: 0;
          transition: all .4s linear;
          transform-origin: -2.5px 1px;

          font-size: 1.6rem;
          &:hover {
            font-size: 1.58rem;
          }
        }
      }
    }


    &__phone {
      display: none;
    }

    &__phone_img {
      display: inline-block;
      margin-left: 115px;
    }

    &__languages-item {
      display: none;
    }
  }
  .header-main {
    margin-top: 4rem;
    &__info {
      flex-basis: 0;

      &__title {
        font-size: 5.7rem;
        position: absolute;
        top: 170px;
        left: 0;
        padding-left: 90px;

      }

      &__subtitle {
        font-size: 2rem;
        position: absolute;
        top: 230px;
        left: 90px;
        background: #ffffff;
        width: 455px;
        text-align: center;
      }

      &__more-btn {
        position: absolute;
        bottom: 0;
        left: 145px;
      }
    }

    &__img {
      flex-basis: 100%;
      &__hexagon {
        &_top-left {
          width: 9rem;
          height: 9rem;
          top: 5%;
          left: 7%;
        }
        &_bottom {
          display: none;
        }
      }
    }
  }
  .header-advantages {
    margin-top: 4rem;
    &__icons {
      width: 80%;

      &-wrapper {
        &__item {
          height: 7.35rem;
        }

        &__description {
          font-size: 1.2rem;
        }
      }
    }

    &__subtitle {
      width: 80%;
      font-size: 1.6rem;
    }
  }

}

