@media (max-width: 1200px) {

  .advantages-hexagon {

    &__is-symplify {
      right: 36%;
      top: 8rem;

      &-img {
        width: 30rem;
        height: 30rem;
        background-image: url("../img/advantages/iSymplify-team_technology.png");
        background-position: -7rem -1rem;
      }
    }
    &__smeh-1 {
      top: 9rem;
      right: 13%;

      &-img {
        width: 13rem;
        height: 13rem;
        background: url("../img/advantages/smeh1.png");
        background-position: -19rem -9rem;
      }
    }
    &__small {
      top: 29rem;
      right: 27%;
      width: 4.5rem;
      height: 4.5rem;
      @include gradOrangePurple(to left)
    }
    &__middle {
      width: 5.5rem;
      height: 5.5rem;
      top: 3rem;
      right: 56%;
      @include gradOrangePurple(to right);
    }
    &__big {
      width: 10rem;
      height: 10rem;
      right: 80%;
      @include gradBluViolet(-280deg);
    }
  }

  .advantages {
    &-container {
      .advantages-description {
        margin-bottom: 0;
        .advantages-img {
          width: 40%;
        }

        &-content {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          width: 55%;

        }

        .content-headline {
          align-self: flex-end;
          margin-top: 0;
          padding-left: 3rem;
          font-family: 'Releway', sans-serif;
          font-size: 4rem;
          font-weight: 900;
          line-height: 5.5rem;
          text-align: left;
          color: #ffffff;
          width: 36rem;
          height: 5.5rem;
          background-image: linear-gradient(to right, #ff7200, #d8268d);
        }

        .content-tagline {
          margin: 3.5rem 0;
          font-family: 'Releway', sans-serif;
          font-size: 3.5rem;
          font-weight: 900;
          color: #07002c;
        }

        .content-nav {
          &-table {
            position: relative;
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .bgActiv {
              position: absolute;
              content: "";
              width: 18.6rem;
              height: 5.3rem;
              background-image: linear-gradient(to right, #09a2de, #d8268d);

            }

            &-item {
              z-index: 1;
              font-family: 'Releway', sans-serif;
              font-size: 2rem;
              font-weight: 900;
              line-height: 1.35;
              text-align: left;
              color: #7a7a7a;
              width: min-content;
              max-height: 5.3rem;
              padding: 0 1.5rem;
              cursor: pointer;
            }
            .active {
              padding-top: 30px;
              max-height: 5.3rem;
              color: #ffffff;
              overflow: hidden;
              box-sizing: border-box;
              animation: moveActive 0.5s 1 linear forwards;
            }
          }
          &-info {
            position: relative;
            margin: 3.7rem 0;
            overflow: hidden;
            width: 95%;
            height: 14rem;
            &__elem {
              position: absolute;
              top: 6rem;
              opacity: 0;
              font-family: 'Releway', sans-serif;
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.5;
              text-align: left;
              color: #07002c;
              animation: passContent 0.2s 1 linear forwards;
            }

            .active-content {
              animation: moveContent 0.5s 1 linear forwards;
            }
          }
        }
      }
      .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-bottom: 5rem;
        &-headline {
          position: relative;
          font-family: 'Releway', sans-serif;
          font-size: 4rem;
          font-weight: 900;
          text-align: center;
          color: #07002c;
          margin-bottom: 6rem;
          &::after {
            position: absolute;
            content: "";
            width: 186px;
            height: 4px;
            top: 5rem;
            left: 44%;
            background-image: linear-gradient(to right, #00b3f9, #f900a9);

          }
        }
        .advantages-slider {
          max-height: 30rem;
        }
      }

    }
  }
}

@media (max-width: 950px) {
  .advantages {
    &-container {
      .advantages-description {
        .advantages-img {
          width: 45%;
          .is-symplify {
            position: absolute;
            width: 60%;
            left: 4rem;
            top: 6rem;
          }
          .smeh1 {
            position: absolute;
            width: 27%;
            top: 9rem;
            left: 70%;
          }

          .path-big {
            position: absolute;
            width: 18%;
          }

          .path-midle {
            position: absolute;
            width: 10%;
            top: 25rem;
            left: 70%;
          }
          .path-small {
            position: absolute;
            width: 7%;
            top: 1rem;
            left: 45%;
          }
        }

        &-content {
          width: 55%;
        }


        .content-headline {
          font-size: 3.5rem;
          line-height: 5rem;
          text-align: left;
          width: 30rem;
          height: 5rem;

        }

        .content-tagline {
          margin: 3.5rem 0;
          font-size: 3rem;
          font-weight: 900;
          color: #07002c;
        }

        .content-nav {
          &-table {
            height: 4.5rem;
            .bgActiv {
              position: absolute;
              content: "";
              width: 14rem;
              height: 4.5rem;

            }

            &-item {
              z-index: 1;
              font-family: 'Releway', sans-serif;
              font-size: 1.5rem;
              font-weight: 900;
              line-height: 1;
              max-height: 5rem;
              padding: 0 1rem;
              align-self: center;
            }
            .active {
              padding-top: 30px;
              max-height: 5.3rem;
              color: #ffffff;
              overflow: hidden;
              box-sizing: border-box;
              animation: moveActive 0.5s 1 linear forwards;
            }
          }
          &-info {
            margin: 2rem 0;
            &__elem {
              font-size: 1.4rem;
              line-height: 1.4;
            }

            .active-content {
              animation: moveContent 0.5s 1 linear forwards;
            }
          }
        }
      }
      .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-bottom: 5rem;
        &-headline {
          position: relative;
          font-family: 'Releway', sans-serif;
          font-size: 4rem;
          font-weight: 900;
          text-align: center;
          color: #07002c;
          margin-bottom: 6rem;
          &::after {
            position: absolute;
            content: "";
            width: 186px;
            height: 4px;
            top: 5rem;
            left: 44%;
            background-image: linear-gradient(to right, #00b3f9, #f900a9);

          }
        }
        .advantages-slider {
          max-height: 30rem;
        }
      }
    }
  }
}
@media (max-width: 760px) {

  .advantages-hexagon {

    &__is-symplify {
      right: 36%;
      top: 8rem;

      &-img {
        width: 15rem;
        height: 15rem;
        background-image: url("../img/advantages/iSymplify-team_technology.png");
        background-position: -17rem -14rem;
      }
    }
    &__smeh-1 {
      top: 9rem;
      right: 13%;

      &-img {
        width: 7rem;
        height: 7rem;
        background: url("../img/advantages/smeh1.png");
        background-position: -22rem -12rem;
      }
    }
    &__small {
      top: 19rem;
      right: 27%;
      width: 2.5rem;
      height: 2.5rem;
      @include gradOrangePurple(to top);
    }
    &__middle {
      width: 3.5rem;
      height: 3.5rem;
      top: 4rem;
      right: 48%;
      @include gradOrangePurple(to right);
    }
    &__big {
      width: 5rem;
      height: 5rem;
      right: 74%;
      top: 5rem;
      @include gradBluViolet(-280deg);
    }
  }

  .advantages {
    &-container {
      .advantages-description {
        .advantages-img {
          width: 40%;
          .is-symplify {
            width: 55%;
            left: 2rem;
            top: 5rem;
          }
          .smeh1 {
            width: 21%;
            top: 5rem;
            left: 66%;
          }

          .path-big {
            width: 18%;
          }


          .path-midle {
            width: 10%;
            top: 18rem;
            left: 72%;
          }

          .path-small {
            position: absolute;
            width: 7%;
            top: 1rem;
            left: 45%;
          }
        }

        &-content {
          width: 59%;
        }


        .content-headline {
          font-size: 2.2rem;
          line-height: 3rem;
          height: 3rem;
          width: 20rem;
        }

        .content-tagline {
          margin: 1.8rem 0;
          font-size: 1.7rem;
         }



        .content-nav {
          &-table {
            height: 4rem;
            .bgActiv {
              position: absolute;
              content: "";
              width: 10rem;
              height: 3.7rem;

            }

            &-item {
              font-size: 1rem;
              font-weight: 900;
              line-height: 1;
              max-height:3.7rem;
            }

            .active {
              padding-top: 1rem;
            }

          }
          &-info {
            margin: 1rem 0;
            &__elem {
              font-size: 1.2rem;
              line-height: 1.1;
            }

            .active-content {
            }
          }
        }
      }
      .projects {

        margin-bottom: 5rem;
        &-headline {
          font-size: 4rem;
          margin-bottom: 6rem;
          &::after {
            position: absolute;
            content: "";
            width: 186px;
            height: 4px;
            top: 5rem;
            left: 44%;
            background-image: linear-gradient(to right, #00b3f9, #f900a9);

          }
        }
        .advantages-slider {
        }

        .partners-icon {

          .color-icon {
            height: 5rem;
            width: 14rem;
          }
        }

      }

    }
  }
}
@media (max-width: 640px) {

  .wrapper-is-symplify{
    transform: rotate(30deg);
  }

  .advantages-hexagon {

    &__is-symplify {
      transform: translateX(85%);
      right: 50%;
      top: 4rem;

      &-img {
        width: 380px;
        height: 380px;
        background-position: -17rem -6rem;
        background-repeat: no-repeat;
      }
    }
    &__smeh-1 {
      display: none;
    }
    &__small {
      top: 38rem;
      right: 5%;
      width: 3.5rem;
      height: 3.5rem;
    }
    &__middle {
      display: none;
    }
    &__big {
      width: 5rem;
      height: 5rem;
      right: 81%;
      top: 8rem;
    }
  }


  .advantages {
    &-img {
      display: none;
    }
    &-container {
      .advantages-description {
        display: flex;
        justify-content: flex-end;
        &-content {
          box-sizing: border-box;
          width: 85%;
        }
      }
      .projects {
        margin-bottom: 5rem;
        &-headline {
          font-size: 3rem;
          margin-bottom: 4rem;
          &::after {
            width: 14rem;
            height: 0.3rem;
            top: 4rem;
            left: 36%;

          }
        }
        .advantages-slider {
          max-height: 30rem;
        }
      }

    }
  }
}

@media (max-width: 385px) {

  .advantages-hexagon {

    &__is-symplify {
      right: 49%;

      &-img {
        width: 315px;
        height: 315px;
        background-position: -16rem -7rem;
      }
    }
    &__small {
      top: 32rem;
      right: 5%;
      width: 3.5rem;
      height: 3.5rem;
    }
    &__big {
      width: 4rem;
      height: 4rem;
      right: 80%;
      top: 7rem;
    }
  }


}