@media (max-width: 1200px) {
  .advantages {
    &-container {
      .advantages-description {
        margin-bottom: 0;
        .advantages-img {
          width: 40%;
        }

        .content-headline {
          align-self: flex-end;
          margin-top: 0;
          padding-left: 3rem;
          font-family: 'Releway', sans-serif;
          font-size: 4rem;
          font-weight: 900;
          line-height: 5.5rem;
          text-align: left;
          color: #ffffff;
          width: 36rem;
          height: 5.5rem;
          background-image: linear-gradient(to right, #ff7200, #d8268d);
        }

        .content-tagline {
          margin: 3.5rem 0;
          font-family: 'Releway', sans-serif;
          font-size: 3.5rem;
          font-weight: 900;
          color: #07002c;
        }

        .content-nav {
          &-table {
            position: relative;
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &-item {
              z-index: 1;
              font-family: 'Releway', sans-serif;
              font-size: 2rem;
              font-weight: 900;
              line-height: 1.35;
              text-align: left;
              color: #7a7a7a;
              width: min-content;
              max-height: 5.3rem;
              padding: 0 1.5rem;
              cursor: pointer;
            }
          }
          &-info {
            position: relative;
            margin: 3.7rem 0;
            overflow: hidden;
            width: 95%;
            height: 14rem;
            &__elem {
              position: absolute;
              top: 6rem;
              opacity: 0;
              font-family: 'Releway', sans-serif;
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.5;
              text-align: left;
              color: #07002c;
              animation: passContent 0.2s 1 linear forwards;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .advantages {
    &-container {
      .advantages-description {
        .content-headline {
          font-size: 3.5rem;
          line-height: 5rem;
          text-align: left;
          width: 30rem;
          height: 5rem;

        }

        .content-tagline {
          margin: 3.5rem 0;
          font-size: 3rem;
          font-weight: 900;
          color: #07002c;
        }

        .content-nav {
          &-table {
            height: 4.5rem;
            .bgActiv {
              width: 14rem;
              height: 4.5rem;

            }

            &-item {
              z-index: 1;
              font-family: 'Releway', sans-serif;
              font-size: 1.5rem;
              font-weight: 900;
              line-height: 1;
              max-height: 5rem;
              padding: 0 1rem;
              align-self: center;
            }
          }
          &-info {
            margin: 2rem 0;
            &__elem {
              font-size: 1.4rem;
              line-height: 1.4;
            }
          }
        }
      }
      .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-bottom: 5rem;
        &-headline {
          position: relative;
          font-family: 'Releway', sans-serif;
          font-size: 4rem;
          font-weight: 900;
          text-align: center;
          color: #07002c;
          margin-bottom: 6rem;
          &::after {
            position: absolute;
            content: "";
            width: 186px;
            height: 4px;
            top: 5rem;
            background-image: linear-gradient(to right, #00b3f9, #f900a9);

          }
        }
        .advantages-slider {
          max-height: 30rem;
        }
      }
    }
  }
}
@media (max-width: 760px) {
  .advantages {
    &-container {
      .advantages-description {

        .content-headline {
          font-size: 2.2rem;
          line-height: 3rem;
          height: 3rem;
          width: 20rem;
        }

        .content-tagline {
          margin: 1.8rem 0;
          font-size: 1.5rem;
         }



        .content-nav {
          &-table {
            height: 4rem;
            .bgActiv {
              width: 10rem;
              height: 3.7rem;

            }

            &-item {
              font-size: 1rem;
              font-weight: 900;
              line-height: 1;
              max-height:3.7rem;
            }

            .active {
              padding-top: 1rem;
            }

          }
          &-info {
            margin: 1rem 0;
            &__elem {
              font-size: 1.2rem;
              line-height: 1.1;
            }
          }
        }
      }
      .projects {
        margin-bottom: 5rem;
        &-headline {
          font-size: 4rem;
          margin-bottom: 6rem;
          &::after {
            position: absolute;
            content: "";
            width: 186px;
            height: 4px;
            top: 5rem;
            background-image: linear-gradient(to right, #00b3f9, #f900a9);

          }
        }
        .advantages-slider {
        }

        .partners-icon {

          .color-icon {
            width: 14rem;
            height: 7rem;
          }
        }

      }

    }
  }
}
@media (max-width: 650px) {

  .wrapper-is-symplify{
    transform: rotate(30deg);
  }
  .advantages {
    &__hex {
      display: none;
    }
    &-container {
      .advantages-description {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &-content {
          width: 90%;
        }
      }
      .projects {
        margin-bottom: 5rem;
        &-headline {
          font-size: 3rem;
          margin-bottom: 4rem;
          &::after {
            width: 14rem;
            height: 0.3rem;
            top: 4rem;
          }
        }
        .advantages-slider {
          max-height: 30rem;
        }
      }

    }
  }

  .content {
    &-nav {
      margin-right: 10%;
    }
  }
}

  @media (max-width: 385px) {

    .advantages-hexagon {

      &__is-symplify {
        right: 49%;

        &-img {
          width: 315px;
          height: 315px;
          background-position: -16rem -7rem;
        }
      }
      &__small {
        top: 32rem;
        right: 5%;
        width: 3.5rem;
        height: 3.5rem;
      }
      &__big {
        width: 4rem;
        height: 4rem;
        right: 80%;
        top: 7rem;
      }
    }
    .content {
      &-nav {
        margin-right: 8%;
      }
    }
  }
