@media screen and (max-width: 1305px) {

  .team-description {

    &-title {
      margin: 3rem 0;
    }
  }
}

@media screen and (max-width: 1020px) {

  .team-description {
    margin-bottom: 10rem;


    &-top-main-title {
      font-size: 3rem;
      &:before {
        left: -20rem;
        padding: 2.5rem 21rem;
      }
    }

    &-title {
      font-size: 2.5rem;
      margin: 2rem 0;
    }

    &-subtitle {
      font-size: 1.58rem;
      margin-bottom: 2rem;
    }

    &-bonus {
      font-size: 1.58rem;
    }
  }

  .services-title-text {
    font-size: 3rem;
    margin-bottom: 4rem;

    &:after {
      top: 4rem;
    }
  }
}

@media (max-width: 750px) {
  #teamHexSmall {
    display: none;
  }
  #teamHexSmallBlue {
    display: none;
  }
  .team {
    &__hex {
      width: 75%;
      transform: translateX(1.5rem);
    }

    &-img {
      &__smaller {
        transform: scale(1.2) translate(30px, 40px);
      }
      &__bigger {
        transform: translate(10px, 45px);
      }
    }
    &-description {
      margin-bottom: 10rem;

      &-top-main-title {
        font-size: 3rem;
        &:before {
          left: -20rem;
          padding: 2.5rem 21rem;
        }
      }

      &-title {
        font-size: 2.5rem;
        margin: 4rem 0;
      }

      &-subtitle {
        font-size: 1.58rem;
        margin-bottom: 2rem;

        &-highlight {
          padding: 0.2rem 0;
          color: #ffffff;
          @include gradBluViolet(to right);
        }

        &-hidden-span {
          display: none;
        }
      }
      &-bonus {
        font-size: 1.58rem;
        margin-bottom: 2rem;

        &-highlight {
          padding: 0.2rem 0;
        }
      }
    }

    &-bonus {
      display: none;
    }
  }

  .services-title-text {
    font-size: 3rem;
    margin-bottom: 4rem;

    &:after {
      top: 4rem;
    }
  }
}

@media (max-width: 550px) {
  .team {
    &__hex {
      height: auto;
    }
    &-description {
      margin-bottom: 6rem;
      flex-direction: column;

      &-top-main-title {
        font-size: 2.3rem;
        &:before {
          left: -20rem;
          padding: 2rem 18.5rem;
        }
      }

      &-title {
        font-size: 2rem;
        margin: 4rem 0;
      }

      &-subtitle {
        font-size: 1.35rem;
      }
      &-bonus{
        font-size: 1.35rem;
      }

    }
  }
}

@media (max-width: 381px) {
  .team{
    padding-top: 9rem;
  }

  .team-description {
    margin-bottom: 4rem;

    &-top-main-title {
      &:before {
        left: -20rem;
        padding: 2rem 17.5rem;
      }
    }

    &-title {
      font-size: 1.5rem;
      margin: 2rem 0;
    }

    &-subtitle {
      font-size: 1.2rem;
    }
    &-bonus {
      font-size: 1.2rem;
    }


    .team-description-images {
      height: 29rem;
    }

    .team-description-photo {
      &-sharon {
        top: 6rem;
        right: 9.5rem;
      }

      &__sharon-img {
        height: 9rem;
        width: 9rem;
      }

      &-olga {
        top: 15rem;
        right: 9rem;
      }

      &__olga-img {
        height: 9rem;
        width: 9rem;
      }

      &-eddie {
        right: 0rem;
        bottom: 9rem;
      }

      &__eddie-img {
        height: 11rem;
        width: 11rem;
      }
    }
  }
}

@media (min-width: 640px) and (max-width: 733px) {
  .services-item {
    width: 25rem;
    margin: 2.5rem 0;
  }
}