/*fonts*/
@font-face {
  font-family: 'Releway';
  font-weight: 900;
  src: url("../fonts/Raleway-Bold_0.ttf");
}
@font-face {
  font-family: 'Releway';
  font-weight: 700;
  src: url("../fonts/Raleway-Medium_0.ttf");
}
@font-face {
  font-family: 'Releway';
  font-weight: 400;
  src: url("../fonts/Raleway-Regular.ttf");
}